.form-box{
    width: 90%;
margin-top: 2%;
    max-width: 300px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    background:#fff;
    padding: 50px 60px 70px;
    text-align: center;
}

.form-box h1{
    font-size: 30px;
    margin-bottom: 50px;
    color:#009688;
    position: relative;

}

.form-box h1::after{
content: '';
width: 30px;
height: 4px;
border-radius: 3px;
background: #009688;
position: absolute;
bottom: -12px;
left: 50%;
transform: translate(-50%);


}

.input-field{
    background: #eaeaea;
    margin: 20px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    


}
input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 17px 17px;

}

.input-field i{
    margin-left: 15px;
    color: #999;


}
form p{
    text-align: left;
    font-size: 13px;

}
form p a{
    text-decoration: none;
    color:#009688;

}

.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.btn-field button{
    flex-basis: 48%;
    background:#009688;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}

.input-grp{
    height: 165px;

}
